:root {
    --md-text-font: "LXGW WenKai Screen"; 
  }
  
  #particles-js{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  
  .md-typeset h1,
  .md-typeset h2,
  .md-typeset h3,
  .md-typeset h4,
  .md-typeset h5,
  .md-typeset h6 {
      font-weight: bold;
      font-family: "LXGW WenKai Screen";
  }
  
  .md-header__topic {
    font-weight: bold;
  }
