site_name: xiu的笔记本
site_url: https://xiu-zju.github.io/xiu/
repo_url: https://github.com/xiu-zju/xiu
repo_name: xiu
site_author: 胥涵坤
site_description: 胥涵坤的笔记本

copyright: 'Copyright &copy 2024-2025 xiu.'

theme:
  name: 'material'
  language: 'zh'
  features:
    - navigation.tabs
    - navigation.top
    - navigation.footer
    - navigation.indexes
    - navigation.tracking
    - navigation.prune
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.action.edit
    - content.code.annotate
  favicon: images/favicon.png
  font: false
  icon:
    logo: material/notebook-outline
    repo: fontawesome/brands/github-alt
    admonition:
      info: fontawesome/solid/anchor
      note: fontawesome/solid/pen-nib
      abstract: fontawesome/solid/list
      tip: fontawesome/solid/lightbulb
      success: fontawesome/solid/check
      question: fontawesome/solid/circle-question
      warning: fontawesome/solid/triangle-exclamation
      failure: material/alien
      danger: fontawesome/solid/virus
      bug: fontawesome/solid/robot
      example: fontawesome/solid/flask
      quote: fontawesome/solid/link
  palette:
    - scheme: default
      primary: grey
      accent: indigo
      toggle:
        icon: material/weather-night
        name: 切换至夜间模式
    - scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: 切换至日间模式

validation:
  nav:
    omitted_files: info
    not_found: warn
    absolute_links: info
  links:
    not_found: ignore
    absolute_links: ignore
    unrecognized_links: ignore

extra:
  analytics:
    provider: google
    property: G-6Y55WNMPVM
    feedback:
      title: 激励
      ratings:
        - icon: fontawesome/regular/hand-back-fist
          name: 请我喝一杯呗～
          data: 1
          note: >-
            <center> 你愿意请我喝一杯吗(*´∀`)~♥ </center>
            <img src="https://s2.loli.net/2024/07/01/ydYtQnqeWTwrsRf.jpg" width=200px>

  # [添加社交网络图标和链接]
  # https://squidfunk.github.io/mkdocs-material/setup/setting-up-the-footer/#social-links
  # 搜索图标：https://squidfunk.github.io/mkdocs-material/reference/icons-emojis/#search
  # name 会在鼠标悬浮时提示
  social: # icons
    - name: xiu's GitHub
      icon: fontawesome/brands/github
      link: https://github.com/xiu-zju
    - name: Bilibili 晴香部长
      icon: fontawesome/brands/bilibili
      link: https://space.bilibili.com/523501905
    - name: xiu's QQ 768958636
      icon: fontawesome/brands/qq
      link:
    - name: 打赏支持
      icon: fontawesome/solid/mug-saucer
      link: http://xiu-zju.github.io/xiu/Me/dashang/?h=%E4%BD%A0%E6%84%BF%E6%84%8F

plugins:
  - toc
  - statistics:
      words_per_minute: 150
  - search:
      separator: '[\s\u200b\-]'
  #    lang:
  #      - zh
  #      - en
  # [给单篇文章添加标签]
  # https://squidfunk.github.io/mkdocs-material/setup/setting-up-tags/
  # https://squidfunk.github.io/mkdocs-material/plugins/tags/#meta.tags
  - tags

markdown_extensions:
  - toc:
      permalink: true
      toc_depth: 4
  - meta
  - def_list
  - attr_list
  - md_in_html
  - sane_lists
  - admonition
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.snippets
  - pymdownx.magiclink
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.arithmatex:
      generic: true
  - attr_list
  - md_in_html
  - toc:
      permalink: true # 固定标题位置为当前位置
  - pymdownx.highlight:
      linenums: true
      auto_title: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - footnotes

extra_css:
  - https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.1.0/style.css
  - https://gcore.jsdelivr.net/npm/lxgw-wenkai-screen-webfont@1.1.0/style.css
  - css/tasklist.css
  - css/LXGW.css
  - css/custom.css
  - css/card.css
  - css/flink.css
  - css/changelog_extra.css
  - css/fold_toc.css
  - https://unpkg.com/katex@0/dist/katex.min.css

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
  - '//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js'
  - javascripts/clarity.js
  - javascripts/toc_collapse.js

# [Navigtion]
nav:
  - 编程语言:
    - Programming language/index.md
    - C:
      - Programming language/C/index.md
      - 0 C语言前瞻: Programming language/C/C语言前瞻.md
      - 1 C语言基本语法: Programming language/C/C语言基本语法.md
      - 2 数据类型、运算符和表达式: Programming language/C/数据类型、运算符和表达式.md
      - 3 选择结构: Programming language/C/选择结构.md
      - 4 循环: Programming language/C/循环.md
      - 5 数组: Programming language/C/数组.md
      - 8 指针: Programming language/C/指针.md
      - 10 文件: Programming language/C/文件.md
      - Appendix 关键字: Programming language/C/关键字.md
    - HTML: 
      - 排版标签: Programming language/HTML/1/1.md
      - 字体标签和超链接: Programming language/HTML/1/2.md
    - Python:
      - Python概述: Programming language/Python/1/1.md
      - Python基本数据类型: Programming language/Python/2/2.md
      - Python数据转换: Programming language/Python/3/3.md
      - Python运算符: Programming language/Python/4/4.md
      - Python推导式: Programming language/Python/5/5.md
      - Python迭代器和生成器: Programming language/Python/6/6.md
      - Python函数: Programming language/Python/7/7.md
      - Python装饰器: Programming language/Python/8/8.md
    - Verilog:
      - Programming language/Verilog/index.md
      - Verilog language: Programming language/Verilog/1.md
      - Circuits:
        - Combinational logic: 
          - Multiplexers: Programming language/Verilog/circuit/2.md
          - Arithmetic circuits: Programming language/Verilog/circuit/3.md
          - Karnaugh Map: Programming language/Verilog/circuit/4.md
        - Sequential logic: 
          - Latches and Flipflops: Programming language/Verilog/circuit/5.md
          - Shift registers: Programming language/Verilog/circuit/6.md
    - Rust:
      - Programming language/Rust/index.md
      - Rust语言基础学习:
        - 项目入门: Programming language/Rust/Rust语言基础学习/项目入门/1.md
        - 语言基础: Programming language/Rust/Rust语言基础学习/语言基础/1.md
  - 课外积累:
    - Extracurricular/index.md
    - CS106L: 
      - Extracurricular/CS106L/index.md
      - Streams: Extracurricular/CS106L/1/streams.md
      - Types and streamsII: Extracurricular/CS106L/2/types and streams2.md
      - Sequence containers: Extracurricular/CS106L/3/sequence containers.md
    - USTC 计算机网络:
      - Extracurricular/USTC_CN/index.md
      - 第一章 计算机网络概述: Extracurricular/USTC_CN/1/1.md
      - 第二章 应用层: Extracurricular/USTC_CN/2/2.md
      - 第三章 传输层: Extracurricular/USTC_CN/3/3.md
      - 第四章 网络层：数据平面: Extracurricular/USTC_CN/4/4.md
      - 第五章 网络层：控制平面: Extracurricular/USTC_CN/5/5.md
      - 第六章 链路层和局域网: Extracurricular/USTC_CN/6/6.md
  - 课内课程:
    - Courses/index.md
    - 会计学: 
      - Courses/Accounting/index.md 
      - 第一章 总论: Courses/Accounting/1/1.md
      - 第二章 会计要素与复式记账: Courses/Accounting/3/3.md
      - 第三章 会计循环: Courses/Accounting/4/4.md
      - 第四章 货币资金与交易性金融资产: Courses/Accounting/5/5.md
      - 第五章 应收款项: Courses/Accounting/6/6.md
      - 第六章 存货: Courses/Accounting/7/7.md
      - 第七章 长期股权投资: Courses/Accounting/8/8.md
      - 第八章 固定资产: Courses/Accounting/9/9.md
      - 第九章 无形资产: Courses/Accounting/10/10.md
      - 第十章 负债: Courses/Accounting/11/11.md
      - 第十一章 所有者权益: Courses/Accounting/12/12.md
      - 第十二章 收入、费用和利润: Courses/Accounting/13/13.md
      - 第十三章 财务报告: Courses/Accounting/14/14.md
    - 高级数据结构与算法分析: 
      - Courses/ADS/index.md
      - AVL Trees, Splay Trees & Amortized: Courses/ADS/1/1.md
      - Red-Black Trees & B+ Tree: Courses/ADS/2/2.md
      - Invert File Index: Courses/ADS/3/3.md
      - Leftist Heap & Skew Heap: Courses/ADS/4/4.md
      - Binomial Queue: Courses/ADS/5/5.md
      - Backtracking: Courses/ADS/6/6.md
      - Divide and Conquer: Courses/ADS/7/7.md
      - Dynamic Programming: Courses/ADS/8/8.md
      - Greedy Method: Courses/ADS/9/9.md
      - NP-Completeness: Courses/ADS/10/10.md
      - Approximation: Courses/ADS/11/11.md
      - Local Search: Courses/ADS/12/12.md
      - Randomized Algorithm: Courses/ADS/13/13.md
      - Parallel Algorithm: Courses/ADS/14/14.md
      - External Sorting: Courses/ADS/15/15.md
    - 计算机组成:
      - Chapter 1: Courses/CO/1/1.md
      - Chapter 2: Courses/CO/2/2.md
      - Chapter 3: Courses/CO/3/3.md
      - Chapter 4: Courses/CO/4/4.md
      - Chapter 5: Courses/CO/5/5.md
    - 中国文化与翻译:
      - Courses/Translation/index.md
      - Class 1: Courses/Translation/1.md
      - Class 2: Courses/Translation/2.md
      - Class 3: Courses/Translation/3.md
      - Class 4: Courses/Translation/4.md
      - Class 5: Courses/Translation/5.md
      - Class 6: Courses/Translation/7.md
      - Class 7: Courses/Translation/9.md
      - Class 8: Courses/Translation/10.md
      - Class 9: Courses/Translation/11.md
    - 计算机网络:
      - Courses/CN/index.md
      - Ch1 引言: Courses/CN/1/1.md
      - Ch2 物理层: Courses/CN/2/2.md
      - Ch3 数据链路层: Courses/CN/3/3.md
      - Ch4 MAC子层: Courses/CN/4/4.md
      - Ch5 网络层: Courses/CN/5/5.md
    - 操作系统: 
      - Courses/OS/index.md
      - Chapter 1: Courses/OS/1/1.md
      - Chapter 2: Courses/OS/2/2.md
      - Chapter 3: Courses/OS/3/3.md
      - Chapter 4: Courses/OS/4/4.md
      - Chapter 5: Courses/OS/5/5.md
      - Chapter 6: Courses/OS/6/6.md
      - Chapter 7: Courses/OS/7/7.md
      - Chapter 8: Courses/OS/8/8.md
      - Chapter 9: Courses/OS/9/9.md
  - 杂项:
    - 反序列化漏洞: misc/Bonus/1.md
    - reveal-md制作slides: misc/reveal.md
  - 友链: link/link.md